html {
    overflow: hidden;
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0
}

.background{
    background: linear-gradient(to bottom, rgba(87,182,208,0.8), rgba(0,51,255,0.7));
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.container{
    max-width: 1140px;
    padding-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin:0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.picture{
    padding-top: 10vh;
    width: 30%;
}
.content{
    width: 70%;
}
@media(max-width:992px){
    .container{
        max-width: 960px;
    }
}
@media(max-width:768px){
    .container{
        max-width: 720px;
    }
    .picture{
        width: 100%;
    }
    .content{
        width: 100%;
    }
}

.text{
    text-align: left;
    padding: 100px;
    color: white;
    font-family: 微軟正黑體, Arial, 蘋方;
    font-size: 150%;

}

.img{
    border: 2px rgb(0,51,255) solid;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

